.header {
    width: 100%;
    height: 131px;
    width: 100%;
    height: 131px;
    position: sticky;
    top: 0;
    z-index: 11;
    background: #DEEDED;
}

.card-container {
    display: flex;
    margin-top: 41px;
    padding: 0 51px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(236px,1fr));
    gap: 20px;
    justify-content: space-around;
}

@media screen and (max-width: 768px) {
    .container {
        position: absolute;
        max-width: 100%;
    }
    .card-container {
        margin-top: 31px;
        padding: 0 28px;
        justify-content: space-between;
        display: flex;
        gap: unset;
        flex-wrap: wrap;
        
    }
}
